:root {
  --blanco:#fffeea;
  --oscuro:#472201;

  --btn-default:#fcc008;
  --btn-hover:#df9300;
  --btn-active:#b96904;

  --100:#fffbc5;
  --200:#fff787;
  --300:#ffed48;
  --400:#ffde1e;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background:var(--blanco);
  color: var(--oscuro);
  font-family: "Arvo", serif;
}

a {
  text-decoration: none;
}



/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 70px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #2e3135;
}

.section-header h2:before,
.section-header h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: black;
  display: inline-block;
}

.section-header h2:before {
  margin: 0 15px 10px 0;
}

.section-header h2:after {
  margin: 0 0 10px 15px;
}

.section-header p {
  margin: 0 auto 0 auto;
}

@media (min-width: 1199px) {
  .section-header p {
    max-width: 60%;
  }
}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(26, 18, 11, 0.85);
  padding: 10px 0;
}

#header .logo img {
  max-height: 40px;
}



/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: var(--blanco);
  font-size: 14px;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--btn-default);
}

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: blue;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }


/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--blanco);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(45, 53, 69, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color:var(--blanco);
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--oscuro);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--btn-default);
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
   width: 100%;
  height: 100vh;
  background: 
    linear-gradient(
      to right,
      rgb(0 0 0 / 0.5),
      rgb(0 0 0 / 0)
      ),
    url(../img/hero.jpg);
  background-size: cover;
  position: relative;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}


#hero h1 {
  margin: 0 0 15px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--oscuro);
}

#hero h2 {
  color: var(--blanco);
  margin-bottom: 30px;
  font-size: 22px;
}

.btn-dark{
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  background: var(--btn-default);
}

.btn-dark:hover{
  background: var(--btn-hover);
}

@media (max-width: 991px) {
  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    -moz-text-align-last: center;
    text-align-last: center;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}


/*--------------------------------------------------------------
# beneficios
--------------------------------------------------------------*/

.beneficios {
  padding-bottom: 20px;
}

.beneficios .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
  box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #fff;
}

.beneficios .icon {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.beneficios .icon i {
  font-size: 36px;
  line-height: 1;
}

.beneficios .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.beneficios .title a {
  color: #111;
}

.beneficios .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.beneficios .icon-box .icon {
  background: var(--200);
}

.beneficios .icon-box .icon i {
  color: var(--oscuro);
}

.beneficios .icon-box:hover {
  border-color: var(--400);
}

@media (min-width: 768px) {
  .beneficios {
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
  }
}

/*--------------------------------------------------------------
# Nosotros
--------------------------------------------------------------*/
#nosotros p{
  text-align: justify;
}

#nosotros .txt{
  margin-left:50px;
  margin-right:50px;
}

/*--------------------------------------------------------------
# Servicios
--------------------------------------------------------------*/


.servicios .serv-item {
  padding: 40px;
  background: #fff;
  height: 100%;
}

.servicios .serv-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 50px;
}

.servicios .serv-item .icon i {
  color: var(--oscuro);
  font-size: 40px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
  line-height: 1.8;
}

.servicios .serv-item .icon:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #f0f1f2;
  border-radius: 50px;
  z-index: 1;
  top: 10px;
  right: -15px;
  transition: 0.3s;
}

.servicios .serv-item h3 {
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #ebebed;
  transition: 0.3s;
}

.servicios .serv-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.servicios .serv-item:hover .icon:before {
  background: var(--200);
}

.servicios .serv-item:hover h3 {
  border-color: var(--400);
}

/*--------------------------------------------------------------
# clientes
--------------------------------------------------------------*/
.clientes {
  padding: 15px 0;
  text-align: center;
  background: var(--beige)
}

.clientes img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clientes img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .clientes img {
    max-width: 40%;
  }
}


/*--------------------------------------------------------------
# preguntas
--------------------------------------------------------------*/
.preguntas {
  padding-top: 80px;
}

.preguntas .accordion-item {
  border: 0;
  margin-bottom: 10px;
}

.preguntas .accordion-collapse {
  border: 0;
}

.preguntas .accordion-button {
  padding: 15px 30px 20px 60px;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  text-align: left;
  background: rgba(14, 29, 52, 0.03);
  border-radius: 5px;
}

.preguntas .accordion-button:focus {
  box-shadow: none;
}

.preguntas .accordion-button:not(.collapsed) {
  border-bottom: 0;
  box-shadow: none;
}

.preguntas .question-icon {
  position: absolute;
  top: 14px;
  left: 25px;
  font-size: 20px;
}

.preguntas .accordion-button:after {
  position: absolute;
  right: 15px;
  top: 15px;
}

.preguntas .accordion-body {
  padding: 0 30px 25px 60px;
  border: 0;
  background: rgba(14, 29, 52, 0.03);
  border-radius: 5px;
}


/*--------------------------------------------------------------
# Contacto
--------------------------------------------------------------*/
.contacto .info-container {
  background-color: var(--100);
  height: 100%;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

.contacto .info-item {
  width: 100%;
  background-color: var(--oscuro);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.contacto .info-item:last-child {
  margin-bottom: 0;
}

.contacto .info-item i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contacto .info-item h4 {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contacto .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contacto .info-item:hover i {
  background:var(--100);
  color: var(--oscuro)
}




/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer {
  color: #fff;
  background: var(--oscuro);
  font-size: 14px;
  padding: 80px 0 60px 0;
  position: relative;
}


.footer .footer-content .footer-info {
  margin-bottom: 30px;
}

.footer .footer-content .footer-info .logo img {
max-height: 50px;
}


.footer .footer-content .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
}

.footer .footer-content .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .footer-content .social-links .facebook:hover {
  background: #3b5998;
   transition: 0.3s;
}
.footer .footer-content .social-links .instagram:hover {
 background:  #d6249f;
  transition: 0.3s;
}

.footer .footer-content .social-links .threads:hover {
  background: #000000;
   transition: 0.3s;
}

.footer .footer-content .social-links .twitter:hover {
  background: #000000;
   transition: 0.3s;
}

.footer .footer-content .social-links .whatsapp:hover {
  background: #25D366;
   transition: 0.3s;
}


.footer .footer-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-content .footer-links {
  margin-bottom: 30px;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content .footer-links ul li {
  padding: 8px 0;
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-content .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-legal .copyright {
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .footer-legal .credits {
  padding-top: 4px;
  font-size: 13px;
  color: #fff;
}

.footer .footer-legal .credits a {
  color: var(--color-primary);
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--blanco);
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}

#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid var(--400);
  border-radius: 50%;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader:after {
  animation-delay: -0.5s;
}

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}